USE [master]
GO
/****** Object:  Database [CS487_488_2016_StockTrainer_v3]    Script Date: 03/12/2017 22:02:22 ******/
CREATE DATABASE [CS487_488_2016_StockTrainer_v3] ON  PRIMARY 
( NAME = N'CS487_488_2016_StockTrainer_v3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CS487_488_2016_StockTrainer_v3.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CS487_488_2016_StockTrainer_v3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CS487_488_2016_StockTrainer_v3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS487_488_2016_StockTrainer_v3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS487_488_2016_StockTrainer_v3]
GO
/****** Object:  Table [dbo].[InsiderTrades]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InsiderTrades](
	[InsiderTradeID] [bigint] IDENTITY(1,1) NOT NULL,
	[Ticker] [varchar](50) NOT NULL,
	[InsiderDetail] [varchar](50) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [bigint] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_InsiderTrades] PRIMARY KEY CLUSTERED 
(
	[InsiderTradeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Investment] [decimal](18, 2) NOT NULL,
	[AvailableCash] [decimal](18, 2) NOT NULL,
	[TotalTrans] [bigint] NOT NULL,
	[PositiveTrans] [bigint] NOT NULL,
	[NegativeTrans] [bigint] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stock](
	[Ticker] [varchar](10) NOT NULL,
	[EquityName] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PrevClosePrice] [decimal](18, 2) NOT NULL,
	[HighPrice] [decimal](18, 2) NOT NULL,
	[LowPrice] [decimal](18, 2) NOT NULL,
	[OpenPrice] [decimal](18, 2) NOT NULL,
	[Volume] [decimal](18, 2) NOT NULL,
	[Change] [decimal](18, 2) NOT NULL,
	[MarketCap] [decimal](18, 2) NOT NULL,
	[52-week_High] [decimal](18, 2) NOT NULL,
	[52-week_Low] [decimal](18, 2) NOT NULL,
	[AskPrice] [decimal](18, 2) NOT NULL,
	[BidPrice] [decimal](18, 2) NOT NULL,
	[AskSize] [decimal](18, 2) NOT NULL,
	[BidSize] [decimal](18, 2) NOT NULL,
	[1-Year_Return] [decimal](18, 2) NOT NULL,
	[Beta] [decimal](18, 2) NOT NULL,
	[PE_Ratio] [decimal](18, 2) NOT NULL,
	[Dividend] [decimal](18, 2) NOT NULL,
	[DividendPercent] [decimal](18, 2) NOT NULL,
	[UpdateChecker] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Ticker] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[AutoUpdateTimer] [int] NOT NULL,
	[EnforceMarketTimings] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchStock]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WatchStock](
	[Username] [varchar](50) NOT NULL,
	[Ticker] [varchar](10) NOT NULL,
 CONSTRAINT [PK_WatchStock_1] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[Ticker] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Ticker] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Num] [bigint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AvgBuyPrice] [decimal](18, 2) NOT NULL,
	[GainLoss] [decimal](18, 2) NULL,
	[GLPercent] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Porfolio]    Script Date: 03/12/2017 22:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Porfolio](
	[Username] [varchar](50) NOT NULL,
	[Ticker] [varchar](10) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[NumStocks] [bigint] NOT NULL,
 CONSTRAINT [PK_Porfolio] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[Ticker] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Settings_AutoUpdateTimer]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [DF_Settings_AutoUpdateTimer]  DEFAULT ((90000)) FOR [AutoUpdateTimer]
GO
/****** Object:  Default [DF_Settings_EnforceMarketTimings]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [DF_Settings_EnforceMarketTimings]  DEFAULT ((0)) FOR [EnforceMarketTimings]
GO
/****** Object:  Default [DF_Transactions_AvrBuyPrice]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_AvrBuyPrice]  DEFAULT ((0)) FOR [AvgBuyPrice]
GO
/****** Object:  ForeignKey [FK_WatchStock_Account]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[WatchStock]  WITH CHECK ADD  CONSTRAINT [FK_WatchStock_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[WatchStock] CHECK CONSTRAINT [FK_WatchStock_Account]
GO
/****** Object:  ForeignKey [FK_WatchStock_Stock]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[WatchStock]  WITH CHECK ADD  CONSTRAINT [FK_WatchStock_Stock] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Stock] ([Ticker])
GO
ALTER TABLE [dbo].[WatchStock] CHECK CONSTRAINT [FK_WatchStock_Stock]
GO
/****** Object:  ForeignKey [FK_Transactions_Account]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Account]
GO
/****** Object:  ForeignKey [FK_Porfolio_Account1]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Porfolio]  WITH CHECK ADD  CONSTRAINT [FK_Porfolio_Account1] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Porfolio] CHECK CONSTRAINT [FK_Porfolio_Account1]
GO
/****** Object:  ForeignKey [FK_Porfolio_Stock]    Script Date: 03/12/2017 22:02:23 ******/
ALTER TABLE [dbo].[Porfolio]  WITH CHECK ADD  CONSTRAINT [FK_Porfolio_Stock] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Stock] ([Ticker])
GO
ALTER TABLE [dbo].[Porfolio] CHECK CONSTRAINT [FK_Porfolio_Stock]
GO
